BibliotecaWeb/Connected Services/ServiceReferenceLibro/ServiceLibro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceLibro" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57765/ServiceLibro.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57765/ServiceLibro.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57765/ServiceLibro.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceBiblioteca.Modelo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibro_Consultar_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar" />
  </wsdl:message>
  <wsdl:message name="ILibro_Consultar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarResponse" />
  </wsdl:message>
  <wsdl:message name="ILibro_Consultar1_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar1" />
  </wsdl:message>
  <wsdl:message name="ILibro_Consultar1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consultar1Response" />
  </wsdl:message>
  <wsdl:message name="ILibro_Consultar2_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar2" />
  </wsdl:message>
  <wsdl:message name="ILibro_Consultar2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consultar2Response" />
  </wsdl:message>
  <wsdl:message name="ILibro_guardaLibro_InputMessage">
    <wsdl:part name="parameters" element="tns:guardaLibro" />
  </wsdl:message>
  <wsdl:message name="ILibro_guardaLibro_OutputMessage">
    <wsdl:part name="parameters" element="tns:guardaLibroResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibro">
    <wsdl:operation name="Consultar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibro/Consultar" message="tns:ILibro_Consultar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibro/ConsultarResponse" message="tns:ILibro_Consultar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultar1">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibro/Consultar1" message="tns:ILibro_Consultar1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibro/Consultar1Response" message="tns:ILibro_Consultar1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultar2">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibro/Consultar2" message="tns:ILibro_Consultar2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibro/Consultar2Response" message="tns:ILibro_Consultar2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="guardaLibro">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibro/guardaLibro" message="tns:ILibro_guardaLibro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibro/guardaLibroResponse" message="tns:ILibro_guardaLibro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILibro" type="tns:ILibro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="http://tempuri.org/ILibro/Consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar1">
      <soap:operation soapAction="http://tempuri.org/ILibro/Consultar1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar2">
      <soap:operation soapAction="http://tempuri.org/ILibro/Consultar2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardaLibro">
      <soap:operation soapAction="http://tempuri.org/ILibro/guardaLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceLibro">
    <wsdl:port name="BasicHttpBinding_ILibro" binding="tns:BasicHttpBinding_ILibro">
      <soap:address location="http://localhost:57765/ServiceLibro.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>