BibliotecaWeb/Connected Services/ServiceReferenceLibro/ServiceLibro1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57765/ServiceLibro.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceBiblioteca.Modelo" />
  <xs:element name="Consultar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceBiblioteca.Modelo" minOccurs="0" name="ConsultarResult" nillable="true" type="q1:ArrayOfLibro_Ubicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultar1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultar1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceBiblioteca.Modelo" minOccurs="0" name="Consultar1Result" nillable="true" type="q2:ArrayOfLibro_Ubicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultar2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultar2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceBiblioteca.Modelo" minOccurs="0" name="Consultar2Result" nillable="true" type="q3:ArrayOfLibro_Ubicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardaLibro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceBiblioteca.Modelo" minOccurs="0" name="libro" nillable="true" type="q4:Libro_Ubicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardaLibroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>