BibliotecaWeb/Connected Services/ServiceReferenceLibro/ServiceLibro2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceBiblioteca.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceBiblioteca.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLibro_Ubicacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Libro_Ubicacion" nillable="true" type="tns:Libro_Ubicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibro_Ubicacion" nillable="true" type="tns:ArrayOfLibro_Ubicacion" />
  <xs:complexType name="Libro_Ubicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Isbn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Librero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Posicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sala" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Libro_Ubicacion" nillable="true" type="tns:Libro_Ubicacion" />
</xs:schema>